main{
    display: flex;
    align-items: center;
}
#placeholder{
    flex: auto;
    visibility: hidden;
}
#notification{
    background-color: rgb(103, 103, 103);
    padding: 10px 15px;
    border-radius: 50px;
}
thead{
    background-color: darkred;
    color:wheat;
    text-align: center;
    cursor: pointer;
}
tbody{
    background-color: gainsboro;
}
table{
    border: 3px solid black;
    margin:auto;
}

td,th{
    padding: 10px 20px;
}