ul{
    list-style: none;
}
.square {
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.square[value="off"] { 
    border: 1px dashed black; 
}
#square1 {
    left: 10%;
    top: 10%;
    background-color: red;
}
#square2 {
    float: left;
    left: 20%;
    top: 20%;
    background-color: green;
}
#square3 {
    left: 30%;
    top: 30%;
    background-color: blue;
}
#square4 {
    left: 40%;
    top: 40%;
    background-color: yellow;
}
#square5 {
    left:50%;
    top: 50%;
    background-color: pink;
}
#square6 {
    left: 60%;
    top: 60%;
    background-color: purple;
}