div{
    display:flex;
}
input{
    color:green;
    height: 2em;
    width:100%; 
}
button{
    color:green;
}

input,button{
    padding:5px 10px 5px 10px;
}

input:hover,button:hover{
    color:red;
}
h1{
    text-align: center;
}