*{
    font-family: Arial, Helvetica, sans-serif;
}
.calculator {
    margin: auto;
    width: 510px;
    height: auto;
    border: 5px solid darkblue;
    border-radius: 10px;
}
input[type="text"]{
    cursor:default;
}
.header {
    height: 200px;
    padding: 30px 30px 0 0;
    background-color: white;
    border-radius: 10px;
    text-align: right;
    margin-bottom: -50px;
}
td{
    text-align: center;
    color:wheat;
}

h1{
    text-align: center;
}
.history, .result {
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
}
.history {
    color:black;
    opacity: 0.5;
    font-size: 30px;
}
.result {
    padding-top: 30px;
    font-size: 60px;
}
/* button style */
.buttons {
    width: 1%;
    height: 80px;
    background-color: darkblue;
    font-size: 25px;
    cursor: pointer;
}

.buttons:hover{
    background-color: wheat;
    color: darkblue;
    transition: 1s;
}
#C{
    background-color: darkred;
}
#C:hover{
    background-color: wheat;
    color:darkred;
}


#equal {
    background-color:darkgreen;
    color: white;
}
#equal:hover{
    background-color: wheat;
    color: darkgreen;
}




.convertors {
    background-color: darkblue;
}
.convertors li {
    cursor: pointer;
    font-size: 30px;
    color:wheat;
    width:100px;
    text-align: center;
    padding: 20px;
    height: fit-content;
    list-style-type: none;
}
.convertors li:hover{
    transition: 1s;
    background-color: wheat;
    color:darkblue;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.length_div,.square_div,.weight_div{
    flex-flow: column;
    background-color: darkblue;
    padding: 15px;
    color:wheat;
}

