.The-infinity-Gautlet{
    width:100px;
    height: auto;
}
.The-infinity-Gautlet:hover + table .hide-man-odd:nth-child(2n+1) td:nth-child(2n+1){
    visibility: hidden;
}
.The-infinity-Gautlet:hover + table .hide-man-odd:nth-child(2n) td:nth-child(2n){
    visibility: hidden;
}
.man{
    width:70px;
    height: auto;
}