
.main {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
.buttons button {
    padding:10px 20px;
    border: none;
    background:linear-gradient(90deg,darkblue, skyblue);
    color: white;
}

.form, .archive {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 2% 0;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.form span, .archive span {
    font-weight: 400;
    text-align: left;
    color: darkblue;
}
.form input {
    background-color: white;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
}

.form textarea {
    background-color: white;
    border-radius: 9px;
    padding: 10px;
}
#output {

    background: white;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
#output:enabled {
    outline: none;
}